.keyword {
    -fx-fill: #B8860BFF;
}
/*
.codeArea .text {
    -fx-fill: white;
}*/

.typeHighlight {
    -fx-text-fill: #008B8BFF;
}

.variableHighlight {
    -fx-text-fill: #228B22FF;
}

.charHighlight {
    -fx-text-fill: #B22222FF;
}